<!DOCTYPE html>
<html lang="en">
<head>
    <title>Welcome to the E-commerce API</title>
</head>
<body>
    <h1>Welcome to the E-commerce API</h1>
    <p>Use the links below to access the available endpoints:</p>
    <ul>
        <li><a href="/api/products/">Product List</a> - View all products</li>
        <li><a href="/api/products/<int:pk>/">Product Details</a> - View details of a specific product</li>
        <li><a href="/api/orders/">Create Order</a> - Create a new order </li>
        <li><a href="/api/user/orders/">User Orders</a> - View your orders </li>
        <li><a href="/admin/">Admin Panel</a> - Admin access to manage data</li>
    </ul>
</body>
</html>
